header {
    padding: 1rem 2rem;
}

header, 
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header img {
    width: 2rem;
    height: 2rem;
}